[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data = "==0.4"
numpy = "==1.22.0"
pandas = "==1.3.5"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest"
